body {
    background-image: url("img/backgroud.jpg");
    background-size: cover;      
    background-repeat: no-repeat;
    background-position: center center;

    display: grid;

    font-family: Helvetica;
}